* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.opcoes {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    align-items: center;
}

.opcao {
    color: #7B5FFF;
    cursor: pointer;
}

.opcao:hover {
    border-bottom: 2px solid #7B5FFF;
    color: #5a3fc0;
}